@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

:root {
    --bg-color: #212529;
    --border-color: #666;
    --font-color: #f1f5f9;
    --o-color: #684dff;
    --x-color: #ff0043;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    margin: 10px auto 25px auto;
    font-family: 'Saira Stencil One', cursive;
    font-size: 2em;
}

#playerInformation {
    height: 95px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

div > input {
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--border-color);
    background-color: var(--bg-color);
    color: var(--font-color);
    text-align: end;
}


#startGame, #resetGame {
    padding: 8px;
    width: 120px;
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--border-color);
    background-color: var(--bg-color);
    color: var(--font-color);
}

#startGame:hover, #resetGame:hover {
    background-color: var(--border-color);
}


#tictactoe {
    display: grid;
    grid-template-columns: 110px 110px 110px;
    margin: 10px auto;
    justify-content: center;
}

.charType {
    width: 110px;
    height: 110px;
    background-color: transparent;
}

.charType:hover {
    background-color: var(--border-color);
}

#sq1 {
    border: 3px solid;
    border-left: none;
    border-top: none;
    border-color: var(--border-color);
}

#sq2 {
    border: 3px solid;
    border-top: none;
    border-color: var(--border-color);
}

#sq3 {
    border: 3px solid;
    border-right: none;
    border-top: none;
    border-color: var(--border-color);
}

#sq4 {
    border: 3px solid;
    border-left: none;
    border-color: var(--border-color);
}

#sq5 {
    border: 3px solid;
    border-color: var(--border-color);
}

#sq6 {
    border: 3px solid;
    border-right: none;
    border-color: var(--border-color);
}

#sq7 {
    border: 3px solid;
    border-left: none;
    border-bottom: none;
    border-color: var(--border-color);
}

#sq8 {
    border: 3px solid;
    border-bottom: none;
    border-color: var(--border-color);
}

#sq9 {
    border: 3px solid;
    border-right: none;
    border-bottom: none;
    border-color: var(--border-color);
}

.charX {
    color: var(--x-color);
    font-size: 4em;
    text-align: center;
}

.charO {
    color: var(--o-color);
    font-size: 4em;
    text-align: center;
}